<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
        /* Remove space around the email design. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
            font-family: Calibri, sans-serif
        }

        /* Stop Outlook resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
        }

        /* Stop Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        /* Use a better rendering method when resizing images in Outlook IE. */
        img {
            -ms-interpolation-mode: bicubic;
        }

        {% comment %} table {
            width: 75%;
            margin-left: 2em;
        } {% endcomment %}

        thead {
            background-color: #ff8045;
        }

        table,
        th,
        td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000000;
            border-collapse: collapse;
            padding: 0.5rem;
        }

        .status-heading {
            text-decoration: underline;
        }
    </style>
</head>

<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly;">
    
    <p>
        Hello Kristine/Gopal,
    </p>
    <p>
        Below is the Status of Offshore Development &amp; Testing team for today.
    </p>
    {% regroup status by member as status_by_member %}
    {% comment %} Developer's status {% endcomment %}
    <p class="status-heading">
        <strong>Developer's Status</strong>
    </p>
    <table role="presentation" cellspacing="0" cellpadding="0" border="0">
        <thead>
            <tr>
                <th>Developer</th>
                <th>Incident/Problem Code</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Progress</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for member, status in status_by_member %}
            {% if member.role == 1 %}
            {% for s in status %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{ status|length }}">
                    {{ member.name }}
                </td>
                {% endif %}
                <td>
                    {{ s.incident }}
                </td>
                <td>
                    {{ s.description }}
                </td>
                <td>
                    {{ s.severity }}
                </td>
                <td>
                    {{ s.progress }}
                </td>
                <td>
                    {{ s.comment }}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% comment %} Add offline developer's to table {% endcomment %}
            {% for member in offline_members %}
            {% if member.role == 1 %}
            <tr>
                <td>{{ member.name }}</td>
                <td colspan="5">OOO</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% comment %} Tester's status {% endcomment %}
    <p class="status-heading">
        <strong>Tester's Status</strong>
    </p>
    <table role="presentation" cellspacing="0" cellpadding="0" border="0">
        <thead>
            <tr>
                <th>Tester</th>
                <th>Incident/Problem Code</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Progress</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for member, status in status_by_member %}
            {% if member.role == 2 %}
            {% for s in status %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{ status|length }}">
                    {{ member.name }}
                </td>
                {% endif %}
                <td>
                    {{ s.incident }}
                </td>
                <td>
                    {{ s.description }}
                </td>
                <td>
                    {{ s.severity }}
                </td>
                <td>
                    {{ s.progress }}
                </td>
                <td>
                    {{ s.comment }}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
        {% comment %} Add offline tester's to table {% endcomment %}
            {% for member in offline_members %}
            {% if member.role == 2 %}
            <tr>
                <td>{{ member.name }}</td>
                <td colspan="5">OOO</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>

</html>