{% extends 'baseTemplate.html' %}
{% load widget_tweaks %}
{% block title %}
Daily Status
{% endblock title %}
{% block content %}
{% comment %} Member form section {% endcomment %}
<section class="section" id="set-member">
    <div class="box">
        <h1 class="title has-text-centered">Set Member details</h1>
        {% comment %} Form to set Member name {% endcomment %}
        <form method="POST" action="{% url 'set_member' %}" class="ml-6">
            {% csrf_token %}
            <div class="columns is-centered">
                <div class="column is-one-third is-offset-2">
                    <div class="field is-horizontal">
                        {% comment %} Member Field {% endcomment %}
                        <div class="field-label is-normal">
                            <label for="{{ member_form.name.id_for_label }}" class="label">Developer/Tester Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {% render_field member_form.name class="input is-primary" placeholder=member_form.name.label value=request.session.member %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field is-horizontal">
                        {% comment %} Role Field {% endcomment %}
                        <div class="field-label is-normal">
                            <label for="{{ member_form.role.id_for_label }}" class="label">Role</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select is-primary">
                                        {{ member_form.role }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="submit" value="Set" class="button is-primary is-outlined">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% comment %} Quick links {% endcomment %}
        <div class="columns is-centered">
            <div class="column is-1">
                <a class="tag is-link is-light" href="#status-section">Status</a>
            </div>
            <div class="column is-1">
                <a class="tag is-link is-light" href="#status-form">Add status</a>
            </div>
            <div class="column is-2">
                <a class="tag is-link is-light" href="#offline-member-section">Add offline member</a>
            </div>
        </div>
    </div>
</section>
{% comment %} Status table section {% endcomment %}
<section class="section" id="status-section">
    <div class="box">
        <!-- Render status -->
        <h1 class="title has-text-centered">Status</h1>
        <div class="table-container">
            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>
                            Incident
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Severity
                        </th>
                        <th>
                            Progress
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in status %}
                    <tr>
                        <td>
                            {{ s.incident }}
                        </td>
                        <td>
                            {{ s.description }}
                        </td>
                        <td>
                            {{ s.severity }}
                        </td>
                        <td>
                            {{ s.progress }}
                        </td>
                        <td>
                            {{ s.comment }}
                        </td>
                        <td>
                            <a href="{% url 'index' id=s.id%}#status-form">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_status' s.id%}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% comment %} Add staus form section {% endcomment %}
<section class="section" id="status-form">
    <div class="box">
        <h1 class="title has-text-centered">Add Status</h1>
        <form
            action="{% if is_status_being_edited %}{% url 'edit_status' edit_status_id %}{% else %}{% url 'add_status' %}{% endif %}"
            method="POST">
            {% csrf_token %}
            {% for field in status_form %}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            {% if field.field.widget.input_type == "text" %}
                            {% render_field field class="input" placeholder=field.label %}
                            {% else %}
                            {% render_field field class="textarea" placeholder=field.label %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Add" class="button is-primary is-large is-fullwidth">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% comment %} Add Offline memeber form section {% endcomment %}
<section class="section" id="offline-member-section">
    <div class="box">
        <h1 class="title has-text-centered">Offline members for today</h1>
        <section class="section">
            <h2 class="subtitle has-text-centered">Add offline member</h2>
            <form action="{% url 'add_offline_member' %}" method="post">
                {% csrf_token %}
                <div class="columns">
                    <div class="column is-offset-2">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="{{ offline_members_form.name.id_for_label }}" class="label">Developer/Tester
                                    Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        {% render_field offline_members_form.name class="input is-primary" placeholder=offline_members_form.name.label %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="{{ offline_members_form.role.id_for_label }}" class="label">Role</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="select is-primary">
                                            {{ offline_members_form.role }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="submit" value="Add" class="button is-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <h2 class="subtitle has-text-centered">Offline members</h2>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>
                        Developer/Tester
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for member in offline_members %}
                <tr>
                    <td>
                        {{ member.name }}
                    </td>
                    <td>
                        {{ member.get_role_display }}
                    </td>
                    <td>
                        <a href="{% url 'delete_offline_member' member.id%}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% comment %} Generate email controls section {% endcomment %}
<section class="section" id="generate-email-controls">
    <div class="box">
        <h1 class="title has-text-centered">Generate email</h1>
        <div class="columns is-centered">
            <div class="column is-one-fifth">
                <a class="button is-link" href="{% url 'create_email_within_browser' %}">Create email within
                    browser</a>
            </div>
            <div class="column is-one-fifth">
                <a class="button is-danger" href="{% url 'create_email_in_outlook' %}">Create email in outlook</a>
                <p class="help is-danger">Please don't click on this unless you are hosting this app.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}