{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
</head>

<body class="has-background-white-ter">
    {% comment %} Messages {% endcomment %}
    {% if messages %}
    <section class="section">
        <div class="container">
            {% for message in messages %}
            <div class="notification {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            is-success 
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                            is-info
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            is-warning  
                                        {% else %}
                                            is-danger
                                        {% endif %}">
                <button class="delete"></button>
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                var $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</body>

</html>